# Tuplas

crea una tupla con 5 números diferentes, uno de ellos debe ser 21, llamala t

In [2]:
t=2, 3, 21, 4, 5

In [3]:
whos

Variable   Type     Data/Info
-----------------------------
t          tuple    n=5

¿Cuántas veces aparece el número 21?

In [5]:
t.count(21)

1

¿Cuál es su posicion en la tupla?

In [6]:
t.index(21)

2

In [9]:
t[-1]

5

In [16]:
t[3]

4

In [17]:
len(t)

5

#  Textos

RFC  REOB490820RH1

In [12]:
rfc="REOB490820RH1"

In [13]:
rfc[1]

'E'

In [14]:
rfc[0:3]

'REO'

In [18]:
len(rfc)

13

Ejercicio 1

Defina un texto con los dígitos decimales en orden descendente '9876543210' (use comillas, apóstrofos o triples comillas, si ocupa más de una línea para definir el texto).

In [19]:
T="9876543210"

Encuentre la cantidad de símbolos que componen el texto

In [20]:
len(T)

10

Encuentre los símbolos primero y último

In [39]:
T[0]

'9'

In [40]:
T[-1]

'0'

Encuentre el subtexto con los primeros 5 símbolos

In [23]:
T[:5]

'98765'

Encuentre el subtexto con los últimos 5 símbolos

In [25]:
T[-5:]

'43210'

Muestre el texto al revés

In [26]:
T[-1::-1]

'0123456789'

In [27]:
T[::2] #va haciendo saltos de dos en dos

'97531'

Ejercicio 2

Guarda tu nombre de pila y tu apellido paterno en una variable minombre, ¿como podríoas determinar el número de caractéres en tu nombre de pila? ¿y de tu apellido?

In [29]:
minombre="Alejandra Montaño"
minombre.index(" ")

9

In [31]:
minombre[:minombre.index(" ")]

'Alejandra'

In [32]:
minombre[0:9]

'Alejandra'

In [33]:
minombre[10:]

'Montaño'

¿Podrías hacerlo si minombre tuviera tambien tu apellido materno?

In [34]:
nc="Alejandra Montaño Murrieta"

In [37]:
nc.index(" ",10) #le estás pidiendo el index del espacio después del primero

17

# Listas

Ejercicio 1

La siguiente lista contiene la cotizacion mensual del dolar para 2015

dolar15=[14.9890,149507,15.2628,15.3488,15.3775,15.7389,16.1106,16.75,22,16.9193,16.5,16.5745,17.18]


a) ¿Cuantos datos tienes?

In [1]:
dolar15=[14.9890,149507,15.2628,15.3488,15.3775,15.7389,16.1106,16.75,22,16.9193,16.5,16.5745,17.18]

In [44]:
len(dolar15)

13

In [45]:
dolar15

[14.989,
 149507,
 15.2628,
 15.3488,
 15.3775,
 15.7389,
 16.1106,
 16.75,
 22,
 16.9193,
 16.5,
 16.5745,
 17.18]

 b) Se ha notado que el penultimo dato 16.5745 no corresponde a esta serie, eliminalo

In [3]:
#dolar15.pop() borra el último elemento de la lista
dolar15.pop(-2)

16.5745

c) Se encontro un error en el dato del mes de febrero, deberia ser 14.9507 substituyelo

In [48]:
#dolar15.remove(22)

In [10]:
dolar15[1]=14.9507

In [4]:
dolar15

[14.989,
 149507,
 15.2628,
 15.3488,
 15.3775,
 15.7389,
 16.1106,
 16.75,
 22,
 16.9193,
 16.5,
 17.18]

 d) ¿Cuál es el cierre de julio?

In [6]:
dolar15[6]

16.1106

 e)  Crea una lista con los datos del primer semestre y otra con los del segundo

In [7]:
dolar15[:6]

[14.989, 149507, 15.2628, 15.3488, 15.3775, 15.7389]

In [8]:
dolar15[6:]

[16.1106, 16.75, 22, 16.9193, 16.5, 17.18]

d) Determina el mes con la menor cotizacion en el año

In [12]:
max(dolar15)
#min()

22

In [18]:
l1=dolar15[6:]
print (l1)

[16.1106, 16.75, 22, 16.9193, 16.5, 17.18]

In [19]:
l1[0]==dolar15[6]

True

In [20]:
l1[0]==dolar15[0]

False

Ejercicio 2

Determina si las siguientes listas tienen el mismo elemento inicial

 [1, 2, 3] y [1, 3]

In [21]:
l1=[1, 2, 3] 
l2=[1, 3]

In [22]:
l1[0]==l2[0]

True

Ahora determina si las mismas listas tienen el mismo elemento final 

 [1, 2, 3] y [7, 3, 2]

In [23]:
l1[-1]==l2[-1]

True

Vamos a crear una lista vacia

In [26]:
l=[]

guardar cosas en la lista

In [29]:
l.append(int(input("Dame tu edad "))) #guarda el dato al final de la lista
print(l)

Dame tu edad 30
[4, 70, 30]

In [30]:
l.insert(1,0)
print(l)

[4, 0, 70, 30]

# Range

Utilizando range genera:

0,1,2,3,4,5,..26

In [31]:
#range(donde inicia, donde termina +1)
#range(n) crea el rango de 0 a n-1
range(0,27)

range(0, 27)

In [32]:
list(range(0,27))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26]

2,4,6,8,10,12,14...200

In [35]:
list(range(2,201,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

-100,-90,-80...0

In [33]:
list(range(-100,1,10))

[-100, -90, -80, -70, -60, -50, -40, -30, -20, -10, 0]

 0.25, 0.5, 0.75, 1.0, 1.25, 1.5,...5

In [ ]:
#el range no puede construir decimales

Observa la siguiente secuencia


    1, 2, 4, 8, 16, 32,..

Puedes crearla utilizando range?

# List comprehension

dada la lista [0,4,96,16,28] genera una nueva lista que muestre la mitad de cada elemento

In [36]:
l1=[0,4,96,16,28]

In [38]:
mitad=[i/2 for i in l1]
print(mitad)

[0.0, 2.0, 48.0, 8.0, 14.0]

In [41]:
h=5
mal=[5*h for i in l1]
print(mal)

[25, 25, 25, 25, 25]

In [42]:
[i/3 for i in mitad] #no estás guardando nada

[0.0, 0.6666666666666666, 16.0, 2.6666666666666665, 4.666666666666667]

usando la lista resultante genera una nueva lista sumando 1 a cada elemento

In [43]:
mas=[i+1 for i in mitad]

In [44]:
mas

[1.0, 3.0, 49.0, 9.0, 15.0]

Ejercicio 5

Calcula el promedio aritmético de la siguiente lista de números y llámalo mu:

    [12,14,56,28,18,25,33,11,2,39,3,28,14,11]
    
Calcula la varianza o media de las desviaciones al cuadrado de los números dados en la lista L. La
fórmula para la varianza es:
    
    sum(Li-mu)**2/(n-1)
    
donde Li representa el elemento i-ésimo de la lista, mu representa el promedio y n es el número de elementos de L.

In [45]:
L=[12,14,56,28,18,25,33,11,2,39,3,28,14,11]

In [47]:
%pylab

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

In [48]:
mu=mean(L)
#sum(L)/len(L)
num=[(i-mu)**2 for i in L]
sum(num)/(len(num)-1)

221.53846153846155

In [51]:
sum([(i-mean(L))**2 for i in L])/(len(L)-1)

221.53846153846155

Ejercicio extra 1

Dada una lista 

    [34,2,14,7,9]

usando list comprehension obten la mitad de los primeros 3 datos

In [52]:
l3=[34,2,14,7,9]

In [53]:
l3m=[i/2 for i in l3[:3]]
print(l3m)

[17.0, 1.0, 7.0]

Si tengo la lista

    ["Hola","Si","Clase","no"]
    
usando list comprehension obten la primera letra de cada palabra

In [56]:
l1=["Hola","Si","Clase","no"]

In [57]:
le=[i[0] for i in l1]
print(le)

['H', 'S', 'C', 'n']

In [58]:
list("palabra")

['p', 'a', 'l', 'a', 'b', 'r', 'a']

Ejercicio 6

Tengo una lista que contiene para cada uno de mis alumnos las tres calificaciones de sus examenes

    [[4,6,7],[10,10,8],[8,7,10],[7,7,9],[10,10,9],[8,9,10],[9,9,8]]
    
Obten las calificaciónes de los exámenes finales del grupo

In [1]:
alumnos=[[4,6,7],[10,10,8],[8,7,10],[7,7,9],[10,10,9],[8,9,10],[9,9,8]]
print(alumnos)

[[4, 6, 7], [10, 10, 8], [8, 7, 10], [7, 7, 9], [10, 10, 9], [8, 9, 10], [9, 9, 8]]

In [60]:
alumnos[0]

[4, 6, 7]

In [61]:
len(alumnos)

7

In [63]:
alumnos[0][0]

4

In [68]:
calis=[mean(i) for i in alumnos]
calis

[5.666666666666667,
 9.333333333333334,
 8.333333333333334,
 7.666666666666667,
 9.666666666666666,
 9.0,
 8.666666666666666]

¿Cuál es la calificación máxima de cada alumno?

In [71]:
[max(i) for i in alumnos]

[7, 10, 10, 9, 10, 10, 9]

Determina el promedio de cada alumno

In [72]:
calis=[mean(i) for i in alumnos]
calis

[5.666666666666667,
 9.333333333333334,
 8.333333333333334,
 7.666666666666667,
 9.666666666666666,
 9.0,
 8.666666666666666]

si el primero y el segundo parcial valen 30% de la calificacion y el final 40, determina la calificacion de cada alumno

In [73]:
cf=[(i[0]*0.3+i[1]*0.3+i[2]*0.4) for i in alumnos]
print(cf)

[5.800000000000001, 9.2, 8.5, 7.800000000000001, 9.6, 9.1, 8.6]

Ejercicio 7

Se tiene una lista de productos que se vende en un mercado:

    frutas=[‘peras’, ‘naranjas’, ‘papaya’, ‘ciruelas’, ‘manzanas’, ‘chicozapotes’, ‘uvas’, ‘mandarinas’]

Los precios por kilogramo de los productos del mercado, según el orden dado en la lista de 'frutas',son los siguientes:

    precios:=[31.50,8.50,15.40,25.30,18.80,32.20,21.40,6.50]
    
Si un cliente compra las siguientes cantidades de productos en kilogramos, según el orden dado en la lista de 'frutas' 

        compras:=[1,3,3.50,0,2,2,1.5,0]
        
¿Cuanto debe pagar el cliente?

In [ ]:
precios=[31.50,8.50,15.40,25.30,18.80,32.20,21.40,6.50]
compras=[1,3,3.50,0,2,2,1.5,0]
frutas=[‘peras’, ‘naranjas’, ‘papaya’, ‘ciruelas’, ‘manzanas’, ‘chicozapotes’, ‘uvas’, ‘mandarinas’]