In [4]:
import pandas as pd

In [101]:
#ejercicio 2
titanic = open('Ej2_7_TitanicEdades.csv', 'r')
indices = []
valores = []
edadL = []
edadF = []

for i in range (3):
    valores.append([])

for linea in titanic: 
    datos = linea.split(',')
    indices.append(datos[0])
    for i in range (3):
        valores[i].append(datos[i])

titanic.close()

for i in range(len(valores[2])):
    edadL.append(valores[2][i].strip('\n'))
    if edadL[i] == '':
        edadL[i]=0
    edadL[i] = float(edadL[i])

genero = pd.Series(valores[1], indices)
edad = pd.Series(edadL, indices)
todo = pd.concat([genero, edad], axis =1)

In [109]:
ninos1 = todo[todo[1]>0]

In [110]:
ninos = ninos1[ninos1[1]<=11]

In [114]:
print("hay "+str(len(ninos))+" niños de entre 1 y 11 años")

hay 64 niños de entre 1 y 11 años

In [117]:
adolescentes1 = todo[todo[1]>=12]
adolescentes = adolescentes1[adolescentes1[1]<=17]

In [121]:
print("hay "+str(len(adolescentes))+" adolescentes de entre 12 y 17 años")

hay 40 adolescentes de entre 12 y 17 años

In [122]:
adultos1 = todo[todo[1]>=18]
adultos = adultos1[adultos1[1]<=65]

In [123]:
print("hay "+str(len(adultos))+" adultos de entre 18 y 65 años")

hay 552 adultos de entre 18 y 65 años

In [124]:
adultosMa = todo[todo[1]>65]
print("hay "+str(len(adultosMa))+" adultos mayores de 65 años")

hay 7 adultos mayores de 65 años

In [133]:
print("el porcentaje de mujeres es de "+str((todo[0][todo[0]=='MUJER'].count()/830)*100)+" y el de hombres de "+str((todo[0][todo[0]=='HOMBRE'].count()/830)*100))

el porcentaje de mujeres es de 35.06024096385542 y el de hombres de 64.93975903614458

In [139]:
print("la mayor edad es "+str(todo[1].max())+"\nla menor edad es "+str(todo[1][todo[1]>0].min()))

la mayor edad es 80.0
la menor edad es 1.0

In [151]:
print("identificacion y genero de los pasajeros con la menor edad:\n")
print(todo[0][todo[1]==todo[1].max()])

identificacion y genero de los pasajeros con la menor edad:

631    HOMBRE
Name: 0, dtype: object

In [154]:
print("identificacion y genero de los pasajeros con la menor edad:\n")
print(todo[0][todo[1]==todo[1][todo[1]>0].min()])

identificacion y genero de los pasajeros con la menor edad:

387    HOMBRE
306    HOMBRE
828    HOMBRE
645     MUJER
173     MUJER
184    HOMBRE
382     MUJER
165    HOMBRE
789    HOMBRE
470     MUJER
804    HOMBRE
756    HOMBRE
79     HOMBRE
Name: 0, dtype: object

In [160]:
print("la edad promedio es de "+str(todo[1][todo[1]>0].mean()))

la edad promedio es de 29.787330316742082